#^css same=append

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

body	{background:#0900ff; font-family:'Open Sans', sans-serif; font-size:22px; line-height:28px; color:#eee; width:100%;}
/*body	{background:url('data/wrong_bw2.png')no-repeat; background-position:center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;}*/


/*

	Font styles
	
	osans	 		|	default reading font
	pay				|	header font, same style as logo

*/

h1		{font-size:4em; font-weight:normal; color:#1400ff;}
h2		{font-size:2em; font-weight:normal;}
a		{color:#1400ff; -webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; transition:all .2s ease-in-out;}
.osans	{font-family:'Open Sans', sans-serif;}
.pay	{font-family:'Paytone One', sans-serif;}


/*

	Top navigation bar thing, maybe
	
	sect			|	sections
	top_wrap		|	wrapper for everything
	spiel_wrap		|	short intro to what this is
	intro	 		|	font style is large for legibility
	blink			|	deprecated <blink> resurrected in 2018
	
*/

.sect			{margin:0 auto; width:100%;}
.sect.witch		{background:url('data/wrong_witch.jpg')no-repeat center center #FFF; background-size:cover;}
.sect.fff		{background:#fff;}

.top_wrap		{margin:0 auto; padding:50px 0; width:960px;}
.spiel_wrap		{display:inline-block; vertical-align:middle; width:725px; margin:0 auto; padding:0px 0 0 50px; box-sizing:border-box;}
.spiel_wrap	p	{margin-bottom:20px; font-family:mono;}
.spiel_wrap.two	p	{background-color:#fff2ac; display:inline; color:#111;}

.intro			{color:#ffffff; font-weight:bold; font-size:22px; line-height:32px; margin-top:40px;}
.blink			{animation:blinks 1s steps(1,end) 0s infinite;}		@keyframes blinks {80%{opacity:0;}}


/*

	Logo for doing it wrong is an image with two shapes of css leaves
	
	logo_wrap		|	wrapper for logo
	wrong_white	 	|	black text logo over white circle

*/

.logo_wrap		{display:inline-block; vertical-align:middle; width:200px;}
.wrong_white	{width:200px; height:200px; border-radius:480px; background:url('data/wrong_logo_500x500_black.png')no-repeat center center #FFF; background-size:cover;}


/*

	Media on landing page
	
	media_wrap		|	wrapper for media things like iframes; etc
	event_link		|	links with images as background

*/

.media_wrap		{margin:0 auto; margin-top:40px; display:flex; justify-content:flex-start; align-content:flex-start; height:300px; max-height:100vh;}
.media_wrap > * {flex:1 100%;}

a.event_link	{display:block; background:url('data/flyer.png')no-repeat top center; background-size:cover;}


/*

	Footer type thing
	
	foot_wrap		|	wrapper for footer things

*/

.foot_wrap		{margin:0 auto; width:960px; text-align:center; padding:30px 0 0 0; font-size:18px;}
.foot_wrap img	{vertical-align:middle;}
.foot_wrap a	{color:#fff; font-weight:bold; font-size:16px; text-decoration:none; border-bottom:3px dotted #0900ff; padding-bottom:10px;}
.foot_wrap a:hover	{border-bottom:3px dotted #fff;}
