#^css same=append

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

body	{background:#f7f4fd; font-family:monospace, sans-serif; font-size:16px; line-height:24px; color:#eee; width:100%; padding:50px;}
h1		{font-size:4em; font-weight:normal; color:#1400ff;}
h2		{font-size:2em; font-weight:normal;}

a		{color:#1400ff;}

body	{background:url('data/wrong_drop.png');}

.blink	{animation:blinks 1s steps(1,end) 0s infinite;}

@keyframes blinks {80%{opacity:0;}}
